.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .login h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .login a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .signInSuggestion,
  .forgotpasswordbox {
    margin-top: 30px;
  }
  
  .forgotpasswordbox a {
    margin-left: 10px;
  }
  .RegisterLinkInLogin{
    margin-left: 140px;
  }