.SignInBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .SignInBox h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  .loginform label {
    margin-bottom: 20px;
  }
  
  .loginform input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginform button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #152450;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .loginform button:hover {
    background-color: #0069d9;
  }