.about { background-color: #f8f9fa; padding: 20px; text-align: center; }

.about h1 { font-size: 3rem; margin-bottom: 20px; color: #B32324 }

.profile-picture { margin: 20px; }

.profile-picture img { width: 200px; height: 200px; border-radius: 50%; object-fit: cover; }

.contact-details { margin: 20px; }

.contact-details h2 { font-size: 2rem; margin-bottom: 10px; color: #95A5A6; }

.contact-details p { font-size: 1.2rem; margin-bottom: 10px; color: #95A5A6 }