.Object-Board{
    display: flex;
    justify-content: space-around;
    
    border-color: white;
    color: #95A5A6;
    

}
.RentTitle{
    margin-left: 500px;
    color: #B32324;
}
iframe{
    margin-left: 60px;
    margin-right: 60px;
}