/* CSS Variables */
:root {
    --main-color: #2C3E50;
    --secondary-color: #2980B9;
    --tertiary-color: #8E44AD;
    --light-color: #F1C40F;
    --white-color: #FFFFFF;
    --light-grey-color: #ECEFF1;
    --dark-grey-color: #7F8C8D;
    --grey-color: #95A5A6;
   }
   
   /* Basic Styles */
   body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   .Navbar-Container {
    background-color: var(--white-color);
    width: 100%;
    position: fixed;
    z-index: 1000;
   }
   
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
   }
   
   /* Navigation List Styles */
   ul#nav-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
   
   li {
    margin: 0 0.5rem;
   }
   
   a.nav-links {
    color: var(--dark-grey-color);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    transition: all 0.3s ease-in-out;
   }
   
   a.nav-links:hover {
    color: var(--main-color);
    background-color: var(--light-grey-color);
    border-radius: 5px;
   }
   
   /* Account Profile Styles */
   .navProfile {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
   
   button.accountButton {
    background-color: transparent;
    border: none;
    color: var(--dark-grey-color);
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    transition: all 0.3s ease-in-out;
   }
   
   button.accountButton:hover {
    color: var(--main-color);
   }
   
   button.loginbutton {
    background-color: var(--secondary-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
   }
   
   button.loginbutton:hover {
    background-color: var(--light-color);
   }
   
   button.signbutton {
    background-color: var(--tertiary-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
   }
   
   button.signbutton:hover {
    background-color: var(--light-color);
   }